* {
  margin: 0;
  padding: 0;
}

main {
  height: 100vh;
  padding: 10px;
}

.load  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.game_body {
  height: 100%;
  width: auto;
  display: flex;
  align-content: center;
  justify-content: center;
  overflow-x: hidden;
  overflow-y: hidden;
}

.flash {
  position: absolute;
  width: 100%;
  height: 100vh;
  animation: flash;
  animation-delay: 2.5s;
  animation-duration: 6s;
  animation-timing-function: ease-in-out;
  z-index: -1;
}

.game-over  {
  height: 100vh;
  width: auto;
}

.enter-user-text  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.score-table  {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: auto;
}

.score-contain  {
  background-image: url('game_assets/backgrounds/atm_backgrounds_newrecord.png');
}

.game-over-contain {
  height: 100px;
  position: relative;
  width: 100%;
  justify-content: space-between;
}

.mugshot-container  {
  display: flex;
  height: 70vh;
  align-items: center;
}

.mugshot-profile  {
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-image {
  display: inline-block;
  position: absolute;
  animation: slip-right;
  animation-duration: 0.5s;
}

.over {
  display: inline-block;
  position: absolute;
  left: 50%;
  animation: slip-left;
  animation-duration: 0.5s;
}


@keyframes slip-right {
  0% {
    left: -50%;
  }

  100% {
    left: 0%;
  }
}

  @keyframes slip-left {
    0% {
      left: 100%;
    }

    100% {
      left: 50%;
    }
  }





/*@keyframes flash {
  0% {
    background-color: white;
    opacity: 1;
  }
  90% {
    background-color: inherit;
  }
  99%  {
    z-index: -20;
  }
  100% {
    opacity: 0;
  }
}*/
