<div class="char-select black">
  <div class="retro-fighter row">
    <div class="retro">
      <div class="retro-image">
        <img src="imageset/retroLogo.png">
      </div>
    </div>
    <div class="fighter">
      <div class="figher-image">
        <img src="imageset/fighterLogo.png">
      </div>
    </div>
  </div>
  <div class="char-container">
          
  <div class="char-contain row">
    <div class="char-one">
        <a ui-sref="levelOne"><img src="imageset/Character_select.png"/></a>
    </div>
    <div class="char-two">
        <a ui-sref="levelOne"><img src="imageset/Character_select.png"/></a>
    </div>
    <div class="char-three">
        <a ui-sref="levelOne"><img src="imageset/Character_select.png"/></a>
    </div>
  </div>

  </div>
</div>
