<div class="char-select black">
  <div class="choose-player row">
    <div class="choose">
      <div class="choose-image">
        <img src="game_assets/words/atm_words_choose.png">
      </div>
    </div>
    <div class="player">
      <div class="player-image">
        <img src="game_assets/words/atm_words_player.png">
      </div>
    </div>
  </div>
  <div class="char-container">

  <div class="char-contain row">
    <div class="char-one">
        <a ui-sref="levelOne"><img src="game_assets/locked_profile.png"/></a>
    </div>
    <div class="char-two">
        <a ui-sref="levelOne"><img src="game_assets/Alley_profile.png"/></a>
    </div>
    <div class="char-three">
        <a ui-sref="levelOne"><img src="game_assets/locked_profile.png"/></a>
    </div>
  </div>

  </div>
</div>
