<!-- <div class="game-over black">
  <img src="game_assets/words/atm_words_game.png">
  <img src="game_assets/words/atm_words_over.png">
</div> -->

<div class="game-over black">
  <div class="game-over-contain row">
    <div class="game">
      <div class="game-image">
        <img src="game_assets/words/atm_words_game.png">
      </div>
    </div>
    <div class="over">
      <div class="over-image">
        <img src="game_assets/words/atm_words_over.png">
      </div>
    </div>
  </div>
  <div class="mugshot-container">

  <div class="mugshot-profile row">
    <div class="profile-mugshot">
      <img src="game_assets/Alley_jail_profile.png">
    </div>
  </div>

  </div>
</div>
