<div class="name-entry-contain">
  <div class="new-record-contain row">
    <div class="new">
      <div class="new-image">
        <img src="game_assets/words/atm_words_new.png">
      </div>
    </div>
    <div class="record">
      <div class="record-image">
        <img src="game_assets/words/atm_words_record.png">
      </div>
      <div class="enter-user-text white">
        <form class="enter-text" ng-submit="logger(username)">
          <input type="text" ng-model="username" name="submit" placeholder="Enter Name" autofocus>
        </form>
      </div>
    </div>
  </div>
</div>
