<div class="splash">
    <!-- <header class="row">
        <a class="waves-effect waves-teal btn-flat white-text left">SHARE</a>
        <a class="waves-effect waves-teal btn-flat white-text right">LOGIN</a>
    </header> -->
    <section>
      <div class="logo-container">

        <div>
          <div class="atm">
            <img src="game_assets/words/atm_logo_atm.png">
          </div>
          <div class="dash">
            <img src="game_assets/words/atm_logo_dash.png">
          </div>
        </div>

        <div class="final-logo">
          <img src="game_assets/words/atm_logo_joined.png">
        </div>

        <div class="section row center">
            <a ui-sref="charSelect"><img src="game_assets/Buttons/atm_btn_play.png"/></a>
        </div>
      </div>

    </section>

    <footer class="row">
      <div class="footer">
        <a ui-sref="credits"><img src="game_assets/Buttons/atm_btn_credits.png"/></a>
        <a ui-sref="ctrlSettings"><img src="game_assets/Buttons/atm_btn_controls.png"/></a>
        
      </div>
        <!-- <a class="waves-effect waves-teal btn-flat white-text left" ui-sref="credits">CREDITS</a> -->
        <!-- <a class="waves-effect waves-teal btn-flat white-text right" ui-sref="ctrlSettings">CONTROLS</a> -->
    </footer>
</div>
