<div class="splash">
    <header class="row">
        <a class="waves-effect waves-teal btn-flat white-text left">SHARE</a>
        <a class="waves-effect waves-teal btn-flat white-text right">LOGIN</a>
    </header>
    <section>
      <div class="logo-container">

        <div class="aqua">
          <img src="imageset/aquaLogo.png">
        </div>
        <div class="kitty">
          <img src="imageset/kittyLogo.png">
        </div>

        <div class="final-logo">
          <img src="imageset/aquaKitty.png" alt="">
        </div>

        <div class="section row center">
            <a ui-sref="charSelect"><img src="imageset/playButton.png"/></a>
        </div>
      </div>

    </section>

    <footer class="row">
        <a class="waves-effect waves-teal btn-flat white-text left">CREDITS</a>
        <a class="waves-effect waves-teal btn-flat white-text right">SETTINGS</a>
    </footer>
</div>
